@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --base-000: 255 255 255;
  --base-100: 247 247 247;
  --base-200: 234 234 234;
  --base-300: 217 217 217;
  --base-400: 191 191 191;
  --base-500: 140 140 140;
  --base-600: 89 89 89;
  --base-700: 67 67 67;
  --base-800: 38 38 38;
  --base-900: 23 23 23;

  --background: var(--base-000);
  --foreground: var(--base-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-000: 23 23 23;
    --base-100: 38 38 38;
    --base-200: 67 67 67;
    --base-300: 89 89 89;
    --base-400: 140 140 140;
    --base-500: 191 191 191;
    --base-600: 217 217 217;
    --base-700: 234 234 234;
    --base-800: 247 247 247;
    --base-900: 255 255 255;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}
